body {
    margin: 0;
    padding: 0;
    /* PC */
    @media only screen and (min-width: 768px){
        h1{
            color: white;
            font-size: clamp(.5rem, 3vw, 10rem) !important;
        }
        h2{
            font-size: 3rem;
        }
        h3,
        label,
        p{
            color: white;
            font-size: clamp(1.5rem, 1vw, 5rem) !important;
        }
        h3 {
            line-height: clamp(5px, 1vw, 2rem) !important;
        }
        p {
            line-height: clamp(5px, 0vw, 2rem) !important;
        }
        select {
            width: clamp(200px, 11vw, 400px);
            height: clamp(30px, 3vh, 60px);
            font-size: clamp(20px, 1vw, 40px);
            font-weight: 100;
        }
        option {
            color: black;
            font-size: clamp(14px, .5rem, 18px);
        }
    }
    /* Iphone */
    @media only screen and (max-width: 1179px) and (max-height: 2556px) {
        h1{
            font-size: clamp(.5rem, 7vw, 20rem)
        }
    }
}

html, 
body { 
    height: 100%; 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
